---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="w-[100%] h-20 flex justify-center items-center">
  <ul class="font-jacques flex flex-row text-xl">
    <li
      class={`class=opacity-70 hover:opacity-100 transition-all duration-200 mr-[4vw] ${
        currentPath === "" ? "opacity-100" : "opacity-70"
      }`}
    >
      <a href="/">Home</a>
    </li>
    <li
      class={`class=opacity-70 hover:opacity-100 transition-all duration-200 mr-[4vw] ${
        currentPath === "about" ? "opacity-100" : "opacity-70"
      }`}
    >
      <a href="/about">About</a>
    </li>
    <li
      class={`class=opacity-70 hover:opacity-100 transition-all duration-200 mr-[4vw] ${
        currentPath === "projects" ? "opacity-100" : "opacity-70"
      }`}
    >
      <a href="/projects">Projects</a>
    </li>
    <li
      class={`class=opacity-70 hover:opacity-100 transition-all duration-200 ${
        currentPath === "contact" ? "opacity-100" : "opacity-70"
      }`}
    >
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
