---
---

<div
  class="flex flex-col gap-y-6 hover:gap-y-1 hover:opacity-70 transition-all duration-300 cursor-pointer text-xl w-fit h-fit"
>
  <a href="/projects">Discover all my Projects</a>
  <div class="w-full h-[1px] bg-black"></div>
</div>
